*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-500:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --skin-color:#00abb3;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    /* position: fixed;
    left: 270px; */
    padding: 0 100px;
    /* top: 0;
    right: 0;
    z-index: 0; */
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}
/* .section.back-section{
    z-index: 1;
} */
/* .section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
} */
/* @keyframes slideSection{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
} */
/* .hidden{
    display: none !important;
} */
/* .main-content{
    padding-left: 270px;
} */
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.d-container{
    max-width: 1100px;
    width: 100%;
    /* background: red; */
    /* margin: auto; */
}
.section .d-container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 28px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: " ";
    height: 4px;
    width:50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: " ";
    height: 4px;
    width:25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

/* .shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
} */
/* Aside css start */
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-500);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}
.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    /* letter-spacing: 5px; */
    position: relative;
}
.aside .logo a span{
    font-family: 'Clicker script', cursive;
    font-size: 40px;
}
.aside .logo a::before{
    content: " ";
    position: absolute;width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: " ";
    position: absolute;width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.aside .nav-toggle{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-500);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.aside .nav-toggle span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggle.open span{
    background-color: transparent;
}
.aside .nav-toggle span::before{
    content: " ";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggle.open span:before{
    transform: rotate(45deg);
    top: 0;
}
.aside .nav-toggle span::after{
    content: " ";
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav-toggle.open span:after{
    transform: rotate(-45deg);
    top: 0;
}
.aside .nav{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid  var(--bg-black-500);
    color: var(--text-black-900);
    padding: 5px 15px;
}
.aside .nav li a.active{
    color: var(--skin-color);
}
.aside .nav li a i{
    margin-right: 15px;
}
@media (max-width:1199px){
    .section .d-container{
        padding-top: 70px;
    }
    .aside{
        left: -270px;
    }
    /* .main-content{
        padding-left: 0;
    } */
    .aside.open{
        left: 0;
    }
    .aside .nav-toggle{
        display: flex;
        left: 30px;
    }
    .aside .nav-toggle.open{
        left: 300px;
    }
    .section{
        left: 0;
    }
    .section.open{
        left: 0px;
    }
    .section{
        padding: 0 30px;
    }
    /* .about ,.about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    } */
}
/* dashboard */
.profile{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
    font-family: 'Poppins' sans-serif;
}
.profile .profile-top{
    margin-bottom: 40px;
}
.profile .profile-info{
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    justify-content: center;
    /* align-items: center; */
    font-size: 20px;
    line-height: 30px;
}
.profile .profile-img{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
/* customise file input */
/* .label{
    display: inline-block;
    background: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
  } */
  .label .fa-camera{
    position: absolute;
    bottom: 0;
    right: 20%;
    font-size: 25px;
    color: var(--skin-color);
  }
  
  .uplode-btn{
    padding: 10px 10px;
    background: indigo;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
  }
/* contact section css */
.uplode-input{
    margin-bottom: 10px;
}
.contact-info{
    display: flex;
    flex-wrap: wrap;
}
.contact-info .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact-info .contact-info-item .icon{
    display: inline-block;
}
.contact-info .contact-info-item .icon .fa{
    font-size: 25px;
    color: var(--skin-color);
}
.contact-info .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact-info .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.edit{
    position: absolute;
    top: 30px;
    left: 95%;
}
.edit i{
    font-size: 25px;
    color: var(--skin-color);
}
@media(max-width:890px){
    /* .profile-top{
        display: block;
    } */
    .profile-top .padd-15{
        padding-left: 0;
        padding-right: 0;
    }
    .profile .profile-info{
        margin: auto;
        align-items: center;
    }
    .profile .profile-img{
        justify-content: center;
        margin: auto;
        align-items: center;
        /* height: 100%; */
        max-width: none;
    }
}
@media (max-width:720px){
    .section{
        padding: 0 30px;
    }
    .profile-top{
        display: block;
    }
}
@media (max-width:801px){
    .contact-info{
        flex-wrap: wrap;
    }
    .contact-info .contact-info-item{
        flex: 0 0 50%;
        max-width: 50%;
        text-align: center;
        margin-bottom: 60px;
    }
}
.profile-img input{
    height: 300px;
    width: 300px;
    border: 2px solid black;
}
@media (max-width:400px){
    .profile-img input{
        height: 250px;
        width: 250px;
    }
}