/* :root {
	--primary-color: #4834d4;
	--success-color: #6ab04c;
	--warning-color: #f0932b;
	--danger-color: #eb4d4b;

	--light-color: #212529;
	--light-second-color: #727475;
	--light-background: #ffffff;
	--light-second-background: #f1f1f1;

	--dark-color: #909090;
	--dark-second-color: #f5f6fa;
	--dark-background: #23242D;
	--dark-second-background: #181818;
} */

/* .light {
	--main-bg-color: var(--light-background);
	--second-bg-color: var(--light-second-background);
	--main-color: var(--light-color);
	--second-color: var(--light-second-color);
}

.dark {
	--main-bg-color: var(--dark-background);
	--second-bg-color: var(--dark-second-background);
	--main-color: var(--dark-color);
	--second-color: var(--dark-second-color);
} */

.light .logo-dark, .light .light-icon {
	display: none;
}

.dark .logo-light, .dark .dark-icon {
	display: none;
}

.bg-primary {
  background: var(--primary-color);
}

.bg-success {
  background: var(--success-color);
}

.bg-warning {
  background: var(--warning-color);
}

.bg-danger {
  background: var(--danger-color);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--main-bg-color);
	color: var(--main-color);
	margin: 0;
}

.navbar {
	display: flex;
	flex-direction: row;
	background: var(--main-bg-color);
	color: var(--main-color);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 101;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.navbar-nav {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.nav-link {
	float: left;
	text-align: center;
	padding: 21px 10px;
	text-decoration: none;
	font-size: 17px;
	color: var(--second-color);
	position: relative;
}

.nav-link:hover {
	cursor: pointer;
}

.navbar-nav i {
	font-size: 1.5rem;
}

.nav-right {
	margin-left: auto;
}

.navbar-search {
	position: relative;
	margin: auto;
	width: 50%;
}

.navbar-search input {
	background: var(--second-bg-color);
	border: none;
	padding: 12px 50px 12px 50px;
	width: 100%;
	outline: none;
  font-size:18px;
	color: var(--main-color);
	border-radius: 20px;
}

.navbar-search i {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: var(--second-color);
	cursor: pointer;
}


.avt img {
	width: 39px;
	height: 39px;
	border-radius: 50%;
}

.avt {
	padding: 11px
}

.navbar-badge {
	font-size: .6rem;
	padding: 2px 4px;
	font-weight: 300;
	position: absolute;
	right: 5px;
	top: 9px;
	color: #fff;
	
	border-radius: 5px;
}

/* .dropdown {
	position: relative;
}

.dropdown:hover {
	cursor: pointer;
}

.dropdown-menu {
	list-style: none;
	display: none;
	flex-direction: column;
	position: absolute;
	right: 20%;
	top: 90%;
	background: var(--main-bg-color);
	max-width: 170px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding:1px;
	border-radius: 10px;
	border: 0.125px solid var(--second-bg-color);
}

.dropdown-expand {
	display: flex;
}

.notification-menu {
	min-width: 380px;
}

.dropdown-menu-content {
	max-height: 500px;
	overflow-y: auto;
}

.dropdown-menu-item {
	width: 100%;
}

.dropdown-menu-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: var(--main-color);
}

.dropdown-menu-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}

.dropdown-menu-link i {
	font-size: 1.25rem;
	color: var(--second-color);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
	font-size: 15px;
	width: 298px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu-link span > span {
	font-size: 10px;
}

.dropdown-menu-link:hover {
	cursor: pointer;
	background: var(--second-bg-color);
}

.dropdown-menu-header {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid var(--second-bg-color);
}

.dropdown-menu-footer {
	padding: 20px;
	text-align: center;
	border-top: 1px solid var(--second-bg-color);
} */

.overlay-scrollbar::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

.scrollbar-hover::-webkit-scrollbar {
	display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
	display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.4);
	border-radius: 10rem;
	border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
	background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
	background: transparent;
}

.wrapper {
	padding: 10px;
	margin-left: 82px;
	padding-top: 75px;
	background: var(--second-bg-color);
	transition: margin-left .5s;
}

.sidebar {
	width: 82px;
	height: 100vh;
	position: fixed;
	margin-top: 65px;
	background:linear-gradient(180deg, #9307F3 0%, rgba(183, 140, 283, 0.81) 100%);
	box-shadow: 0 4px 8px 0 rgba(183, 140, 283, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
	overflow: hidden;
	z-index: 100;
	transition: width .5s;
}

.sidebar:hover {
	width: 250px;
}

.sidebar-nav {
	list-style: none;
	padding: 0;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.sidebar-nav-item {
	width: 100%;
  
  
}
.span{
  font-size:1.5rem;
  font-weight:20px;
}
.sidebar-nav-link {
	display: flex;
	align-items: center;
	color:white;
	text-decoration: none;
}

.sidebar-nav-link i {
	font-size: 1.5rem;
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
	min-width: 82px;
	height: 90px;
	position: relative;
}

.sidebar-nav-link:hover {
	background:#CEB5ED;
}

.sidebar-nav-link.active {
	background:var(--main-bg-color);
	color:#6A04EC;
  font-weight:bold;
  
}

.sidebar-nav-link.active div {
	border-left: 5px solid #7407FC;
}

.sidebar-nav-link.active i {
	color: #7407FC;
	margin-left: -5px;
}

.sidebar-expand .sidebar {
	width: 250px;
}

.sidebar-expand .wrapper {
	margin-left: 250px;
}

.mainphoto{
width:200px;
}


.hidetext { -webkit-text-security: disc; /* Default */ }




.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  margin-left:17vw;
}


#publication{
  margin-left:2.3vw;
}

.row:after, .row:before {
	box-sizing: border-box;
}

[class*="col-"] {
	padding: 5px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
	.sidebar {
		width: 0;
	}
	.wrapper {
		margin-left: 0;
	}
	.sidebar-expand .wrapper {
		margin-left: 0;
	}
	.nav-right .nav-item {
		display: none;
	}
	.nav-right .mode, .nav-right .avt-wrapper {
		display: list-item;;
	}
	.navbar-search {
		display: none;
	}
	.dropdown-menu {
		max-width: 300px;
	}
	[class*="col-"] {
		width: 100%;
	}
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 100%;}
}

.counter {
	padding: 16px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.couner i {
	font-size: 50px;
}

.card {
	background: var(--main-bg-color);
	color: var(--main-color);
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
	display: flex;
    justify-content: space-between;
    padding: 10px;
	padding: 15px 30px;
	border-bottom: 1px solid var(--second-bg-color);
	position: relative;
}

.card-header i {
	color: var(--main-color);
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.card-header i:hover {
	cursor: pointer;
}

.card-header h3 {
	margin: 0;
}

.card-content {
	padding: 20px;
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
  
}

table td {
	border-top: 1px solid var(--second-bg-color);
	padding: 15px;
  text-align:left;
  font-size:1.23rem;
}




table th {
	border-top: 1px solid var(--second-bg-color);
	border-bottom: 1px solid var(--second-bg-color);
	padding: 15px 12px;
	text-align: left;
}

.dot i {
	display: inline-block;
	width: .385rem;
	height: .385rem;
	margin-right: .385rem;
	vertical-align: middle;
	border-radius: 50%;
}



.float-right {
	float: right;
}



.faculty{
	padding: 18px 10px;
	 font-size: 25px;
	 font-weight: 500;
	 color: var(--second-color);
}




.bg-gradient1 span, .bg-gradient1:before {
	 background: #fa7e29;
	 background: -moz-linear-gradient(180deg, #9307F3 0%, rgba(183, 140, 283, 0.81) 100%);
	 background: -webkit-linear-gradient(180deg, #9307F3 0%, rgba(183, 140, 283, 0.81) 100%);
	 background: linear-gradient(180deg, #9307F3 0%, rgba(183, 140, 283, 0.81) 100%);
}
 
/* General */
 
 a {
	 text-decoration: none;
}
 a:hover, a:focus, a:active {
	 text-decoration: none;
}
/* fancy Button */
 .fancy-button {
	 display: inline-block;
	 font-family: 'Heebo', Helvetica, Arial, sans-serif;
	 font-weight: 600;
	 font-size: 14px;
	 letter-spacing: 0.07em;
	 color: #fff;
	 position: relative;
   margin-left:5vw;
   
}
 .fancy-button.bg-gradient1 {
	 text-shadow: 0px 0px 1px #bf4c28;
}
 
 .fancy-button:before {
	 content: '';
	 display: inline-block;
	 height: 40px;
	 position: absolute;
	 bottom: -1px;
	 left: 10px;
	 right: 10px;
	 z-index: -1;
	 border-radius: 2em;
	 filter: blur(14px) brightness(0.9);
	 transform-style: preserve-3d;
	 transition: all 0.3s ease-out;   
}

 .fancy-button span {
	 display: inline-block;
	 padding: 16px 20px;
	 border-radius: 50em;
	 position: relative;
	 z-index: 2;
	 will-change: transform, filter;
	 transform-style: preserve-3d;
	 transition: all 0.3s ease-out;
}
 .fancy-button:focus {
	 color: #fff;
}
 .fancy-button:hover {
	 color: #fff;
}
 .fancy-button:hover span {
	 filter: brightness(0.9) contrast(1.2);
	 transform: scale(0.96);
}
 .fancy-button:hover:before {
	 bottom: 3px;
	 filter: blur(6px) brightness(0.8);
}
 .fancy-button:active span {
	 filter: brightness(0.75) contrast(1.7);
}








.dropbtn {
  background-color:white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.drop {
  position: relative;
 
}

button{
outline:none;}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


.allComplaints{
	display: none;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 100vw;
	z-index: 26;
	position: fixed;
	top: 0px;
	height: 100vh;
	/* border: 2px solid black; */
	/* max-width: 1000px; */
	background: #f9f9f9;
	padding: 20px;
}

.allComplaints h3{
	font-size: 24px;
	margin-bottom: 30px;
}

.allComplaints div h4{
	font-size: 16px;
	margin-bottom: 20px;
}

.complaintsBody{
	width: 100%;
	height: auto;
}

.complaintsBody h4{
	margin-bottom: 4px !important;
}

.complaintsBody h5{
	font-size: 16px;
}

.complaintsBody div{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: auto;
	flex-direction: column;
	margin-bottom: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.749);
	padding-bottom: 20px;
}

.allComplaints div span{
	display: flex;
	align-items: center;
	justify-content: start;
}

.query{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 7px;
	border: none;
	outline: none;
	border-radius: 2px;
	color: white;
	margin: 20px 10px;
}